{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% endwith %}
{% block content %}
  <form method="post">
    <!-- First Name and Last Name -->
    <label for="first_name">First Name</label>
    <input name="first_name" id="first_name" maxlength="35" required>

    <label for="last_name">Last Name</label>
    <input name="last_name" id="last_name" maxlength="35" required>

    <!-- Email -->
    <label for="email">Email</label>
    <input type="email" name="email" id="email" maxlength="150" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>

    <!-- Password and Re-enter Password -->
    <label for="password">Password</label>
    <input id="password" name="password"
    pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[.\+\-\[\]\*~_#:?])[A-Za-z\d.\+\-\[\]\*~_#:?]{8,64}"
    title="Password must be 8-64 characters long and include at least 1 uppercase letter, 1 lowercase letter, 1 digit, and 1 special character from . + - [ ] * ~ _ # : ?"
    required>
    <label for="confirm_password">Reenter Password</label>
    <input type="password" name="reenter_password" id="reenter_password" minlength="8" maxlength="64" required 
    pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[.\+\-\[\]\*~_#:?])[A-Za-z\d.\+\-\[\]\*~_#:?]{8,64}"
    title="Password must be 8-64 characters long and include at least 1 uppercase letter, 1 lowercase letter, 1 digit, and 1 special character from . + - [ ] * ~ _ # : ?"
    required>
    <!-- Phone Number -->
    <label for="phone">Phone Number (Global)</label>
    <input type="tel" name="phone" id="phone" pattern="\d{10,15}" title="Please enter a valid phone number (10-15 digits)" required>

    <!-- Company Name and City -->
    <label for="company_name">Company Name</label>
    <input name="company_name" id="company_name" maxlength="100" required>

    <label for="company_city">Company City</label>
    <input name="company_city" id="company_city" maxlength="80" required>

    <!-- Country and State/Province -->
    <label for="country">Country</label>
    <select name="country" id="country" required>
        <option value="usa">United States of America</option>
        <option value="canada">Canada</option>
    </select>

    <label for="state">State/Province</label>
    <input name="state" id="state" maxlength="50" required>

    <!-- Payment Information 
    <h3>Payment Information</h3>
    <label for="card_number">Card Number</label>
    <input type="text" name="card_number" id="card_number" required>

    <label for="expiry_date">MM/YY</label>
    <input type="text" name="expiry_date" id="expiry_date" placeholder="MM/YY" required>

    <label for="cvc">CVC</label>
    <input type="text" name="cvc" id="cvc" required>
    -->
    <input type="submit" value="Register">
    <input type="reset" value="Reset">
  </form>
{% endblock %}